.validate-form {
margin-left:-15px;
}

.wrapper-contact {
width:100%;
display:flex;
align-items:center;
justify-content:center;
}

.input-wrapper {
width:100%;
}

.contact-form {
width:70%;
}

.container-contact {
width:70%;
background:#61c2ff;
background:linear-gradient(214deg,rgba(97,194,255,1) 0%,rgba(18,145,224,1) 100%);
padding:30px 10px;
border-radius:10px;
box-shadow:0 3px 15px rgba(0,0,0,0.8);
margin-left:25%;
}

.input {
width:100%;
border-radius:10px;
border-style:solid;
border:none;
font-size:110%;
padding-left:15px;
margin:10px 0;
color:#000;
opacity:85%;
background-color:#fffeff;
}

input {
height:40px;
box-shadow:0 3px 15px rgba(0,0,0,0.1);
}

textarea {
height:200px;
padding-top:10px;
resize:none;
box-shadow:0 3px 15px rgba(0,0,0,0.1);
}

.wrapper-contact-button {
width:100%;
display:flex;
align-items:center;
justify-content:center;
margin-top:16px;
padding-left:8px;
}

#contact-1 {
border:solid 2px #e8cd0b;
}

#contact-2 {
border:solid 2px #18a22a;
}

.contact-button {
width:200px;
height:40px;
border-radius:10px;
font-size:120%;
border-radius:10px;
border-style:solid;
border:none;
color:#fffeff;
background:#fc60ff;
background:linear-gradient(214deg,rgba(252,96,255,1) 0%,rgba(249,152,251,1) 100%);
font-weight:700;
transition:.5s ease;
box-shadow:0 3px 15px rgba(0,0,0,0.1);
cursor:pointer;
}

.contact-button:hover {
width:220px;
letter-spacing:2px;
box-shadow:0 3px 15px rgba(0,0,0,0.9);
}

@media (max-width: 1215px) {
	#contact-1 {
		font-size: 120%;
	}
}