.input-wrapper {
	width: 100%;
}

.contact-form {
	width: 55%;
}

.container-contact {
	width: 90%;
	background: rgb(41,69,173);
	background: linear-gradient(200deg, rgba(41,69,173,1) 0%, rgba(26,47,125,1) 100%);	border-radius: 60% 40% 40% 70% / 60% 50% 60% 40%;
	padding: 70px 0px 30px 0px;
	box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
	margin-left: 20%;

}

.input {
	width: 100%;
	border-radius: 10px;
	border-style:solid;
	border:none;
	font-size: 110%;
	padding-left: 15px;
	margin: 10px 0px;
	color: #000;
	opacity: 85%;
	background-color: #fffeff;

}

input {
	height: 40px;

}

textarea {
	height: 200px;
	padding-top: 10px;
	resize: none;
}

.wrapper-contact {
	width: 100%;
	margin-left: 8px;
	display: flex;

	align-items: center;
	justify-content: center;
}

.wrapper-contact-button {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 16px;
	padding-left: 8px;
}

.contact-button {
	width: 200px;
	height: 40px;
	border-radius: 10px;
	font-size: 120%;
	border-radius: 60% 60% 50% 40% / 50% 60% 50% 60%;
	border-style:solid;
	border:none;
	color: #191716;
	background: #ffd100;
	font-weight: 700;
	transition: .5s ease;
}

.contact-button:hover {
	background: #ffd100;
	width: 220px;
	letter-spacing: 2px;
}
