* {
font-family:'Raleway',sans-serif;
}

html,body {
height:100%;
width:100%;
background-color:#191716;
font-weight:400;
}

.container {
margin:0 auto;
width:80%;
max-width:1200px;
border-radius:10px;
}

.clearfix {
display:inline-block;
width:100%;
}

.clearfix:after {
display:none;
display:block;
font-size:0;
content:" ";
clear:both;
height:0;
}

.grid {
height:100%;
margin:0;
grid-template-rows:auto 1fr;
&:after {;
content:"";
display:table;
clear:both;
}
}

[class*='col-'] {
float:left;
.grid:last-of-type {;
padding-right:0;
}
}

.col-2-3 {
width:66.66%;
}

.col-1-3 {
width:33.33%;
}

.col-1-3-sticky {
width:100%;
}

.col-1-2-1 {
width:50%;
height:100%;
}

.col-1-2-2 {
width:50%;
}

.module {
height:100%;
}

.module p {
font-size:170%;
line-height:180%;
}

/*
About section
*/
.head {
background:rgba(60,60,60,1);
height:85vh;
}

.head img {
position:absolute;
}

.shadowed {
-webkit-filter:drop-shadow(15px 0px 15px rgba(0,0,0,0.2));
filter:url(#drop-shadow);
-ms-filter:progid:DXImageTransform.Microsoft.Dropshadow(OffX=15,OffY=0,Color='#444');
filter:progid:DXImageTransform.Microsoft.Dropshadow(OffX=15,OffY=0,Color='#444');
}

.image-wrapper {
position:relative;
height:100%;
}

.profile-pic {
height:90%;
z-index:10;
bottom:0;
animation-duration:1s;
animation-name:delay-entry;
animation-fill-mode:forwards;
}

.head-title {
margin:15vh 0 0;
animation-duration:2s;
animation-name:delay-entry;
animation-fill-mode:forwards;
}

.head-buttons {
list-style:none;
display:flex;
position:absolute;
margin:12vh 0 0;
z-index:1;
width:40%;
justify-content:space-around;
}

.head-buttons img {
padding-bottom:52px;
height:64px;
bottom:0;
filter:invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);
}

.head-buttons li {
margin:10px 4px;
}

.head-buttons div {
padding:80px 20px 20px;
color:#fffeff;
font-size:110%;
-webkit-transition:box-shadow .5s;
transition:box-shadow .5s;
border-radius:10px;
z-index:3;
animation-duration:2s;
animation-name:delay-entry;
animation-fill-mode:forwards;
box-shadow:0 4px 20px rgba(0,0,0,0.2);
text-decoration:none;
}

.portfolio-button {
border:solid 2px #fc60ff;
background-color:#323232;
animation-duration:2.7s;
}

.linkedin-button {
background-color:#212121;
border:solid 1px #61c2ff;
animation-duration:4s;
}

.resume-button {
background-color:#212121;
border:solid 1px #e8cd0b;
animation-duration:4s;
}

.head-buttons div:hover {
box-shadow:0 4px 20px rgba(0,0,0,0.8);
}

h1 {
font-size:15vh;
letter-spacing:0;
color:#fffeff;
font-weight:700;
z-index:700;
position:relative;
}

h2 {
position:absolute;
font-size:6vh;
text-align:left;
padding-left:4px;
z-index:998;
color:#fffeff;
}

h3 {
font-size:400%;
text-align:left;
color:#fffeff;
}

section {
padding:80px 0;
box-shadow:0 3px 15px rgba(0,0,0,0.7);
}

section p {
color:#fffeff;
}

section:nth-child(odd) {
background-color:#282828;
}

section:nth-child(even) {
background-color:#323232;
}

/*
About section
*/

#about {
background:linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url(../images/climbing-hold.svg);
background-attachment:fixed;
background-position:center;
}

.about p {
background-color:#323232;
padding:50px;
border-radius:10px;
}

#cs {
color:rgba(255,227,25,1);
font-weight:700;
}

#econ {
color:rgba(56,218,76,1);
font-weight:700;
}

#dms {
color:#61c2ff;
font-weight:700;
}

#beauty {
color:rgba(252,96,255,1);
font-weight:700;
}

/*
Button to return to top of page
*/

#scroll {
position:fixed;
right:20px;
bottom:10px;
cursor:pointer;
width:40px;
height:40px;
border:solid 2px rgba(56,218,76,1);
border-radius:10px;
text-indent:-9999px;
display:none;
background-color:#323232;
transition:all .5s ease;
z-index: 1001;

}

#scroll span {
position:absolute;
top:50%;
left:50%;
margin-left:-8px;
margin-top:-12px;
height:0;
width:0;
border:8px solid transparent;
border-bottom-color:#fff;
}

#scroll:hover {
background-color:rgba(56,218,76,1);
opacity:1;
filter:alpha(opacity=100);
-ms-filter:alpha(opacity=100);
}

/*
Vertical Bars in head section
*/

#vertical-bar-wrapper {
width:100%;
height:85vh;
position:absolute;
overflow:hidden;
z-index:9;
}

.vertical-bar {
float:left;
margin:0;
opacity:100%;
padding:0;
height:100%;
animation-delay:.7s;
animation-duration:2s;
animation-fill-mode:forwards;
margin-left: 0px;
}

.pink {
background:#fc60ff;
background:linear-gradient(214deg,rgba(252,96,255,1) 0%,rgba(249,152,251,1) 100%);
width:40%;
animation-name:bar-first;
}

.green {
background:#18a22a;
background:linear-gradient(214deg,rgba(24,162,42,1) 0%,rgba(56,218,76,1) 100%);
width:30%;
animation-name:bar-second;
}

.yellow {
background:#e8cd0b;
background:linear-gradient(214deg,rgba(232,205,11,1) 0%,rgba(255,227,25,1) 100%);
width:20%;
animation-name:bar-third;
}

.blue {
background:#61c2ff;
background:linear-gradient(214deg,rgba(97,194,255,1) 0%,rgba(18,145,224,1) 100%);
width:10%;
animation-name:bar-fourth;
}

@keyframes bar-first {
0% {
width:40%;
}

100% {
width:3.5%;
opacity:85%;
}
}

@keyframes bar-second {
0% {
width:30%;
}

100% {
width:3%;
opacity:90%;
}
}

@keyframes bar-third {
0% {
width:20%;
}

100% {
width:2.7%;
opacity:95%;
}
}

@keyframes bar-fourth {
0% {
width:10%;
}

100% {
width:2.5%;
opacity:100%;
}
}

/*
Fade in animation
*/

@keyframes delay-entry {
0% {
opacity:0%;
}

100% {
opacity:100%;
}
}

/*
Mobile Optimization
*/

@media (max-width: 1351px) {
	h1 {
		font-size:12vh;
	}

	h2 {
		font-size:5vh;
	}

	.list-wrapper ul:first-of-type {
		margin:0 0px 0 0px;
	}
}

@media (max-width: 1100px) {

	.profile-pic {
		left:-170px;
	}
}

@media (max-width: 900px) {
	.col-1-2-1 {
		width:20%;
	}

	.col-1-2-2 {
		width:80%;
	}

	.profile-pic {
		height:80%;
	}

	.head-buttons {
		left: 200px;
	}
}

@media (max-width: 885px) {
	.head-buttons li {
		margin:10px;
	}

	.head-buttons {
		margin:15vh 0 0 7vh;
	}
}

@media (max-width: 700px) {

	h1 {
		font-size:8vh;
	}

	h2 {
		font-size:4vh;
	}

	.col-1-2-1 {
		width:7%;
	}

	.col-1-2-2 {
		width:93%;
	}

	.head-buttons {
		left: auto;
		flex-direction:column;
		position:absolute;
		right:10px;
		margin:30px 0px 20px;
		z-index: 800;
		width: 125px;
	}

	.head-buttons div {
		padding: 64px 20px 20px;
	}

	.head-buttons img {
		padding-bottom: 58px;
		height: 58px;
		padding-left: 3px;
	}

	@keyframes bar-first {
		100% {
			width:3px;
			margin-left: 2px;
		}
	}

	@keyframes bar-second {
		100% {
			width:3px;
			margin-left: 2px;
		}
	}

	@keyframes bar-third {
		100% {
			width:3px;
			margin-left: 2px;
		}
	}

	@keyframes bar-fourth {
		100% {
			width:3px;
			margin-left: 2px;
		}
	}

	.head-title {
		margin: 10vh 0 0;
	}

	.col-1-2-1 .profile-pic {
		position:absolute;
		left:-60px;
	}

	.portfolio-button img {
		top:145px;
	}

	.resume-button img {
		top:18px;
	}

	.linkedin-button img{
		padding-bottom: 52px;
	}

	.profile-pic {
		height:70%;
	}
}

@media (max-width: 374px) {

	.head-buttons {
		display: none;
	}

	h1 {
		font-size:7vh;
	}
	h2 {
		font-size:3vh;
	}

	.profile-pic {
		height:75%;
	}
}

